doctype html
html
  head
    script(src="/lib/platform/0.2.3/platform.js")
    script(src="gui.js")
    meta(name="viewport", content="width=device-width")
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="shortcut icon", sizes="196x196", href="/icon.png")
    link(rel="stylesheet", href="style.css")

    link(rel="import", href="magma-chat.html")
    link(rel="import", href="magma-plot.html")
    link(rel="import", href="magma-photo.html")
    link(rel="import", href="magma-overlay-diagram.html")
    link(rel="import", href="magma-refreshing-widget.html")
    link(rel="import", href="/heist/heist-recent-transactions.html")
    link(rel="import", href="/leaf/leaf-report.html")
  body

    div.col
      div.cell.crammedFrame(style="background-color: #c86866")
        div: a(href="/ruler/analysis/") ruler failing checks
        iframe(src="/ruler/analysis/")
      div.cell.crammedFrame(style="background-color: #15743c")
        div: a(href="http://bang:9070/table") wifi users and recent visitors
        iframe(src="http://bang:9070/table")
      div.cell(style="background-color: #13818e")
        | home bandwidth report
      div.cell(style="background-color: #e3c334")
        | server load graphs
      div.cell.crammedFrame(style="background-color: #989c2e")
        div: a(href="/diary/") diarybot new entries
        iframe(src="/diary/", style="flex: 1 0 auto")
    div.col
      div.cell.flexFit(style="background-color: #876853")
        a.otherPage(href="//checkvist.com/checklists/422518") Family checkvist
        a.otherPage(href="/gasuse/submitFillUp") Gasuse submit
        a.otherPage(href="/houseshop/") Houseshop
        a.otherPage(href="/map/") Map
        a.otherPage(href="/search/") Search
        a.otherPage(href="/search/files/") File search
        a.otherPage(href="/sfd/") SFD
        a.otherPage(href="https://whatsplayingnext.com/upcoming") Whatsplayingnext
      div.cell.flexFit
        magma-photo(uri="http://photo.bigasterisk.com/digicam/dl-2011-09-16/DSC_3992.JPG")
      div.cell.chat
        magma-chat.chat()  
    div.col
      div.cell.flexFit(style="background-color: #ad3230")
        heist-recent-transactions()
      div.cell(style="background-color: #c10e2c; flex-basis: 300px")
        leaf-report()
      div.cell
        magma-plot(from="-15min", yMax="1", areaMode="all",
          target="alias(system.house.audio.star.max,\"ari room audio\")")
      div.cell
        magma-plot(from="-15min", yMax="1000000",
          target0="system.net.bytesPerSec.in",
          target1="system.net.bytesPerSec.out")
      div.cell
        magma-plot(from="-5days", 
          target0="alias(system.noaa.rcmc1.temp_f,\"richmond\")",
          target1="alias(system.noaa.ksql.temp_f,\"ksql\")",
          target2="alias(system.noaa.koak.temp_f,\"oakland\")",
          target3="alias(system.noaa.ftpc1.temp_f,\"sf\")",
          target4="alias(system.noaa.aamc1.temp_f,\"alameda\")",
          target5="alias(system.noaa.ksfo.temp_f,\"sfo\")")
    magma-overlay-diagram()
