doctype html
html
  head
    script(src="bower_components/platform/platform.js")
    script(src="gui.js")
    meta(name="viewport", content="width=device-width")
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="shortcut icon", sizes="196x196", href="/icon.png")
    link(rel="stylesheet", href="style.css")

    link(rel="import", href="magma-chat.html")
    link(rel="import", href="magma-plot.html")
    link(rel="import", href="magma-overlay-diagram.html")
    link(rel="import", href="magma-refreshing-widget.html")
  body

    div.col
      div.cell(style="background-color: #c86866")
        | cell1
    div.col
      div.cell(style="background-color: #c04d4a")
        | cell2
      div.cell.chat
        magma-chat.chat()  
    div.col
      div.cell(style="background-color: #ad3230")
        | cell4
      div.cell(style="background-color: #882a29")
        | cell5
      div.cell(style="background-color: #3a1212")
        | c6
      div.cell(style="background-color: #c04d4a")
        magma-plot(from="-5days", 
          target0="alias(system.noaa.rcmc1.temp_f,\"richmond\")",
          target1="alias(system.noaa.ksql.temp_f,\"ksql\")",
          target2="alias(system.noaa.koak.temp_f,\"oakland\")",
          target3="alias(system.noaa.ftpc1.temp_f,\"sf\")",
          target4="alias(system.noaa.aamc1.temp_f,\"alameda\")",
          target5="alias(system.noaa.ksfo.temp_f,\"sfo\")")
    magma-overlay-diagram()